.panel {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  color: mistyrose;
}
.question {
  color: darkturquoise;
}
.details {
text-align: center;
}
.button {
color: darkturquoise;
text-align: center;
background-color: black;
}
