.panel {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  color: silver;
}
.question {
  color:lightpink;
}
.details {
text-align: center;
}
.button {
color: lightpink;
text-align: center;
background-color: black;
}
.well {
  background-color: pink;
}
body {
  font-size: 24px;
}
